@import url("https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --primary-font: "Krub", sans-serif;
  --secondry-font: "Rubik", sans-serif;
  --primary: #39b94b;
  --gradient: 45deg, var(--primary), var(--secondry);
  --secondry: #5ee971;
  --light: rgba(232, 232, 232, 0.5);
  --dark: #666c89;
}
* {
  font-family: var(--primary-font);
}
body {
  overflow-x: hidden;
}
.light-bg{
  background-color: var(--light);
}
.secomdary-bg {
  background-color: var(--secondry);
}
.custome-nav-bg {
  position: absolute !important;
  width: 100%;
  background: #00000052 !important;
  z-index: 99999;
}
.top-header {
  display: flex;
  justify-content: center;
}
.top-header img {
  width: auto;
  height: 120px;
  padding-block: 15px;
}
.custome-nav li {
  padding-inline: 15px;
  /* border-right: 1px solid; */
  position: relative;
}
.custome-nav li a {
  font-family: var(--primary-font) !important;
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.custome-nav p {
  margin: 0;
  color: #ffffff33;
}
.header-social {
  display: flex;
  justify-content: center;
}
.header-social a {
  margin-inline: 10px;
  margin-block: auto;
  font-size: 13px;
}
.footer-social-2 {
  display: flex;
  justify-content: center;
}
.footer-social-2 a {
  margin-inline: 10px;
  margin-block: auto;
  font-size: 26px !important;
  color: white;
}
.footer-btn {
  background: white !important;
  color: var(--primary) !important;
  padding-block: 20px !important;
  padding-inline: 35px !important;
}
.header-logo {
  height: 60px;
}
.index-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  background: linear-gradient(45deg, var(--primary), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.index-banner video {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.banner img {
  width: 100%;
  height:500px;
  object-fit: cover;
  z-index: -1;
}
.miniheading {
  background-color: rgba(232, 232, 232, 0.5);
  border-left: 5px solid var(--primary);
  width: fit-content;
  padding-inline: 10px;
  text-transform: capitalize;
}
.banner-heading {
  color: var(--primary);
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  line-height: 5rem;
}
.para {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark);
}
.primary-btn {
  background: linear-gradient(45deg, var(--primary), var(--secondry));
  border: 0;
  border-radius: 0;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
}
.banner-text {
  position: absolute;
  margin-block: auto;
}

.custome-nav .nav-link.active {
  color: white;
  position: relative;
}

.custome-nav .nav-link.active::after {
  color: white;
  content: "";
  bottom: -8px;
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: white;
  right: 0;
}
.custome-nav .nav-link:hover {
  color: white;
}
.custome-nav .nav-link:hover::after {
  width: 100%;
}
.custome-nav .nav-link::after {
  color: white;
  content: "";
  bottom: -8px;
  width: 0;
  position: absolute;
  height: 2px;
  background-color: white;
  right: 0;
}
.heading {
  color: var(--primary);
  font-size: 40px;
  font-family: var(--secondry-font);
  font-weight: 600;
  line-height: normal;
}
.sponser > div:nth-child(1) {
  border-right: 2px solid var(--light);
}
.heading-sm {
  font-family: var(--secondry-font);
  font-size: 22px;
  font-weight: 400;
}
.green-white {
  background: linear-gradient(90deg, var(--primary) 50%, var(--light) 50%);
}
.slider-footer {
  background-color: var(--primary);
  padding-block: 30px;
  padding-inline: 15px;
  position: relative;
}
.slider-footer a {
  text-decoration: none;
  color: var(--primary);
}
.slider-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.slickbtnnext,
.slickbtnprev {
  width: 30px;
  height: 30px;
  background: linear-gradient(90deg, var(--primary) 20%, var(--secondry) 80%);
  color: white;
  border: 0 !important;
  margin-inline: 5px;
  border-radius: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: red;
  width: 100px;
}
.slider-footer h5 {
  color: var(--secondry-font);
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
.slider-footer p {
  color: var(--primary-font);
  color: white;
  font-weight: 300;
  margin-bottom: 0;
}
.index-slider .slick-slide {
  padding: 10px;
}
.slider-social {
  background: white;
  width: fit-content;
  padding-inline: 15px;
  padding-block: 10px;
  color: var(--primary);
  position: absolute;
  top: -25px;
  right: 0;
}
.health-social {
  margin-top: 40px;
  padding-block: 40px;
  background: url(../images/Health-and-Social-Care-20.05\ 1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}
.health-social .card {
  background-color: transparent;
  border: 0 !important;
  text-align: center;
}
.health-social .card img {
  height: 80px;
  object-fit: cover;
}
.health-social .card p {
  margin-block: 40px;
  color: white;
}
.black-heading {
  font-family: var(--secondry-font);
  text-align: start;
  font-size: 20px;
  font-weight: 400;
}
.blog-date {
  border-right: 3px solid var(--light);
}
.charity {
  background: url(../images/charity.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding-block: 50px;
  margin-top: 50px;
}
.charity-logo img {
  height: 150px;
  object-fit: contain;
}
.fb-gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.footer-heading {
  background-color: var(--primary);
}
.footer-heading img {
  height: 80px;
}
.footer {
  background-color: var(--secondry);
  /* background: linear-gradient(45deg, #39b94b 1%, var(--secondry) 99%); */
}
.footer-heading p {
  color: white;
  font-weight: 500;
  font-family: var(--secondry-font);
  font-size: 20px;
  margin-block: auto;
}
.f-heading {
  color: white;
  font-weight: 500;
  font-family: var(--secondry-font);
  font-size: 20px;
  margin-block: auto;
}
.footer-social {
  /* width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondry); */
  width: 50px;
  height: 50px;
}
.footer-logo-sec a {
  text-decoration: none;
  color: white;
  font-weight: 500 !important;
  font-size: 14px;
}
.footer-logo-sec .para {
  margin-bottom: 0;
  font-weight: 600 !important;
  color: white;
  font-size: 14px;
}
.subs{
  background: transparent;
  padding-block: 15px;
  border: 1px solid white;
  border-radius: 0;

}
.footer-url li a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  
}

.footer-url ul{
  padding: 0;
}
.footer-url li{
  margin-bottom: 20px;
  list-style: none;
}
.footerline{
  height: 2px ;
  width: 100%;
  background-color: white;
}
.video{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.vivaldi-desc{
  margin-block: 100px;
}
.vivaldi-desc img{
  width: 100%;
  object-fit: cover;
}
.vivaldi-desc::after{
  content:'“';
  position: absolute;
  font-size: 200px;
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--primary);
  opacity: 0.5;
  top: -75px;
  z-index: -1;
  left: -30px;

}
.b-block{
  padding-block: 30px;
  border-block: 2px solid var(--light);
}
@media (max-width: 992px) {
  .custome-nav p {
    display: none;
  }
  .custome-nav li {
    margin-block: 15px;
  }
  .custome-nav li a {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .banner-heading {
    font-size: 35px;
    line-height: normal;
  }
  .heading {
    font-size: 30px;
  }
  .green-white {
    background: linear-gradient(180deg, var(--primary) 20%, var(--light) 20%);
  }
}
