@import url("https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --primary-font: "Krub", sans-serif;
  --secondry-font: "Rubik", sans-serif;
  --primary: #39b94b;
  --gradient: 45deg, var(--primary), var(--secondry);
  --secondry: #5ee971;
  --yellow: #ffb629;
  --light: rgba(232, 232, 232, 0.5);
  --bg-image: "";
  --dark: #666c89;
}
* {
  font-family: var(--primary-font);
}
body {
  overflow-x: hidden;
}
[data-fancybox="gallery"] {
width: 100%
}
.light-bg {
  background-color: var(--light);
}
.secomdary-bg {
  /* background-color: var(--secondry); */
  background: linear-gradient(
    94.06deg,
    #39b54a -40.21%,
    #3bdf51 157.82%,
    #75ef85 216.84%
  );
}
.custome-nav-bg {
  position: absolute !important;
  width: 100%;
  background: #00000036;
  z-index: 99999;
}
.top-header {
  display: flex;
  justify-content: center;
}
.top-header img {
  width: auto;
  height: 120px;
  padding-block: 15px;
}
.custome-nav li {
  padding-inline: 4px;
  /* border-right: 1px solid; */
  position: relative;
  padding-block: 10px;
  position: relative;
}
.custome-nav li a {
  font-family: var(--primary-font) !important;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.custome-nav p {
  margin: 0;
  color: #ffffff33;
}
.header-social {
  display: flex;
  justify-content: center;
}
.header-social a {
  margin-inline: 10px;
  margin-block: auto;
  font-size: 13px;
}
.footer-social-2 {
  display: flex;
  justify-content: center;
}
.footer-social-2 a {
  margin-inline: 10px;
  margin-block: auto;
  font-size: 20px !important;
  color: white;
}
.footer-btn {
  background: white !important;
  color: var(--primary) !important;
  padding-block: 18px !important;
  padding-inline: 35px !important;
}
.header-logo {
  height: 60px;
}
.subs::placeholder {
  color: white;
  font-size: 14px;
}
.index-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  background: linear-gradient(45deg, var(--primary), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-banner video {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -1;
}
.miniheading {
  /* background-color: rgba(232, 232, 232, 0.5); */
  background-color: white;
  border-left: 5px solid var(--primary);
  width: fit-content;
  padding-inline: 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.banner-heading {
  color: var(--primary);
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  line-height: 4.5rem;
}
.banner-heading-2 {
  color: var(--primary);
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  line-height: 3.5rem;
  margin: 0;
}
.para {
  font-size: 12px;
  font-weight: 500;
  color: var(--dark);
}
.primary-btn {
  background: linear-gradient(45deg, var(--primary), var(--secondry));
  border: 0;
  border-radius: 0;
  color: white;
  font-weight: 500;
  padding: 15px 35px;
  font-size: 14px;
  position: relative;
}
.primary-btn::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100% 0 0 0;
  bottom: 0;
  right: 0;
}
.banner-text {
  position: absolute;
  margin-block: auto;
}

.custome-nav .nav-link.active {
  color: white;
}

.custome-nav .nav-link.active::after {
  color: white;
  content: "";
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: white;
  right: 0;
}
.custome-nav .nav-item:hover a {
  color: white;
}
.custome-nav .nav-item:hover::after {
  width: 100%;
}
.custome-nav .nav-item::after {
  color: white;
  content: "";
  bottom: 0px;
  width: 0;
  position: absolute;
  height: 2px;
  background-color: white;
  right: 0;
}
.nav-item a {
  white-space: nowrap;
}
.heading {
  color: var(--primary);
  font-size: 32px;
  font-family: var(--secondry-font);
  font-weight: 600;
  line-height: normal;
}
.sponser > div:nth-child(1) {
  border-right: 2px solid var(--light);
}
.heading-sm {
  font-family: var(--secondry-font);
  font-size: 22px;
  font-weight: 400;
}
.green-white {
  background: linear-gradient(90deg, var(--primary) 50%, var(--light) 50%);
  position: relative;
  margin-top: 120px;
  padding-block: 70px;
}
.green-white::after {
  content: url(../images/Pattern.png);
  position: absolute;
  top: 0;
  right: 0;
}
.slider-footer {
  background-color: var(--primary);
  padding-block: 30px;
  padding-inline: 15px;
  position: relative;
}
.slider-footer a {
  text-decoration: none;
  color: var(--primary);
}
.slider-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.slickbtnnext,
.slickbtnprev {
  width: 30px;
  height: 30px;
  background: linear-gradient(90deg, var(--primary) 20%, var(--secondry) 80%);
  color: white;
  border: 0 !important;
  margin-inline: 5px;
  border-radius: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: red;
  width: 100px;
}
.slider-footer h5 {
  color: var(--secondry-font);
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  font-family: var(--secondry-font);
}
.slider-footer p {
  color: var(--primary-font);
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 14px;
}
.index-slider {
  overflow-x: hidden;
}
.index-slider .slick-slide {
  padding: 10px;
}
.slider-social {
  background: white;
  width: fit-content;
  padding-inline: 15px;
  padding-block: 10px;
  color: var(--primary);
  position: absolute;
  top: -25px;
  right: 0;
}
.health-social::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #00000063 10%, transparent 90%);
  top: 0;
}
.health-social {
  margin-top: 40px;
  padding-block: 40px;
  background: url(../images/Health-and-Social-Care-20.05\ 1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.health-social .card {
  background-color: transparent;
  border: 0 !important;
  text-align: center;
}
.health-social .card img {
  height: 80px;
  object-fit: cover;
  margin-inline: auto;
}
.health-social .card p {
  margin-block: 40px;
  color: white;
}
.black-heading {
  font-family: var(--secondry-font);
  text-align: start;
  font-size: 20px;
  font-weight: 400;
}
.blog-date {
  border-right: 3px solid var(--light);
}
.charity {
  background: url(../images/charity.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding-block: 80px;
  margin-top: 50px;
}
.charity-logo img {
  height: 80px;
  object-fit: contain;
}
.fb-gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.footer-heading {
  /* background-color: rgb(45 149 59); */
  background: linear-gradient(
    94.06deg,
    rgb(45 149 59) -1.21%,
    rgb(45 149 59) 57.82%,
    #75ef85 150.84%
  );
  margin-top: 125px !important;
  /* background-color: var(--primary); */
}
.about.footer-heading {
  margin-top: 0 !important;
}
.footer-heading img {
  height: 80px;
  margin-inline: auto;
}
.footer {
  /* background-color: var(--secondry); */
  /* background: linear-gradient(45deg, #39b94b 1%, var(--secondry) 99%); */
  background: linear-gradient(
    94.06deg,
    #39b54a -1.21%,
    #3bdf51 57.82%,
    #75ef85 116.84%
  );
}
.footer-heading p {
  color: white;
  font-weight: 500;
  font-family: var(--secondry-font);
  font-size: 18px;
  margin-block: auto;
}
.f-heading {
  color: white;
  font-weight: 500;
  font-family: var(--secondry-font);
  font-size: 20px;
  margin-block: auto;
}
.footer-social {
  /* width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondry); */
  width: 50px;
  height: 50px !important;
}
.stack-social {
  display: flex;
  justify-content: end;
  margin-block: 20px;
  align-items: center
}
.stack-social div {
  line-height: 15px;
}
.stack-social img {
  width: 50px;
  height: 50px !important;
}
.stack-social a , .stack-social p{
  font-size: 12px;
  color: black;
  font-weight: 500;
}
.stack-social-2 {
  display: flex;
  justify-content: start;
  margin-block: 20px;
  align-items: center
}
.stack-social-2 div {
  line-height: 15px;
}
.stack-social-2 img {
  width: 50px;
  height: 50px !important;
}
.stack-social-2 a , .stack-social-2 p{
  font-size: 12px;
  color: black;
  font-weight: 500;
}
.footer-logo-sec a {
  text-decoration: none;
  color: white;
  font-weight: 400 !important;
  font-size: 13px;
}
.footer-logo-sec .para {
  margin-bottom: 0;
  font-weight: 400 !important;
  color: white;
  font-size: 13px;
}
.subs {
  background: transparent;
  padding-block: 15px;
  border: 1px solid white;
  border-radius: 0;
}
.footer-url li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 13px;
}

.footer-url ul {
  padding: 0;
}
.footer-url li {
  margin-bottom: 10px;
  list-style: none;
}
.footerline {
  height: 2px;
  width: 100%;
  background-color: white;
}
.video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.vivaldi-desc {
  margin-block: 100px;
}
.vivaldi-desc img {
  width: 100%;
  object-fit: cover;
}
.vivaldi-desc::after {
  content: "“";
  position: absolute;
  font-size: 300px;
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--primary);
  opacity: 0.5;
  top: -165px;
  z-index: -1;
  left: -30px;
}
.b-block {
  padding-block: 30px;
  border-block: 2px solid var(--light);
}
.vivaldi-sponser {
  background: url(../images/vivaldi-sponser.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  padding-block: 80px;
}
.vivaldi-sponser img {
  width: 100%;
  height: 100px;
  padding: 10px;
  object-fit: contain;
  background-color: #f6f6f6;
}

/* start  */
.audio-name img {
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  width: 50px;
}
.audio-name .para {
  margin: 0 !important;
  color: white !important;
}
.audio-name .heading {
  margin: 0 !important;
  color: white !important;
  font-weight: 400 !important;
  font-size: 25px !important;
}
.holder {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}
.holder .get-it-on-github {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: "Roboto";
  color: #55606e;
}
.audio.green-audio-player {
  width: 100%;
  padding-block: 20px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  background: linear-gradient(45deg, var(--primary), var(--secondry));
  margin-top: 10px;
}
.audio.green-audio-player .play-pause-btn {
  display: none;
  cursor: pointer;
}
.audio.green-audio-player .spinner {
  width: 18px;
  height: 18px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: spin 0.4s linear infinite;
}
.audio.green-audio-player .slider {
  flex-grow: 1;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.audio.green-audio-player .slider .progress {
  background-color: white;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
  overflow: inherit;
}
.audio.green-audio-player .slider .progress .pin {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  pointer-events: all;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}
.audio.green-audio-player .controls {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #55606e;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
.audio.green-audio-player .controls .slider {
  border-radius: 2px;
  height: 4px;
}
.audio.green-audio-player .controls .slider .progress {
  width: 0;
  height: 100%;
}
.audio.green-audio-player .controls .slider .progress .pin {
  right: -8px;
  top: -6px;
  z-index: 99999999999;
}
.audio.green-audio-player .controls span {
  cursor: default;
}
.audio.green-audio-player .volume {
  position: relative;
}
.audio.green-audio-player .volume .volume-btn {
  cursor: pointer;
}
.audio.green-audio-player .volume .volume-btn.open path {
  fill: #44bfa3;
}
.audio.green-audio-player .volume .volume-controls {
  width: 30px;
  height: 135px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 7px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.audio.green-audio-player .volume .volume-controls.hidden {
  display: none;
}
.audio.green-audio-player .volume .volume-controls .slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 6px;
  border-radius: 3px;
}
.audio.green-audio-player .volume .volume-controls .slider .progress {
  bottom: 0;
  height: 100%;
  width: 6px;
}
.audio.green-audio-player .volume .volume-controls .slider .progress .pin {
  left: -5px;
  top: -8px;
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}
/* end  */
.findout table tr th {
  background-color: var(--primary);
}
.ourstory ul {
  margin-bottom: 0;
  padding-inline: 15px;
}
.ourstory ul li {
  font-size: 13px;
  color: var(--dark);
}
.table-head {
  background-color: var(--primary);
  color: white !important;
  padding-block: 5px;
  margin-bottom: 5px;
}
.table-head p {
  color: white !important;
  font-size: 20px !important;
  text-align: center;
  margin: 0;
}
.findout {
  min-width: 700px;
  overflow: auto;
}
.table-b {
  background-color: var(--light);
  margin-block: 5px;
  padding-block: 25px;
}
.table-b p {
  color: black !important;
  font-size: 16px !important;
  text-align: center;
  font-weight: 500 !important;
  margin: 0;
}
.feedback {
  margin-block: 70px;
  background-color: var(--light);
  padding-block: 100px;
  position: relative;
  overflow-x: hidden;
}
.feedback img {
  width: 100%;
  height: 270px;
  object-fit: contain;
}
.feedback-text p {
  font-size: 13px;
}
.feedback-text::after {
  content: "“";
  position: absolute;
  font-size: 300px;
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--primary);
  opacity: 0.5;
  top: -170px;
  z-index: -1;
  left: -30px;
}
.feedback-text-2::after {
  right: -30px !important;
  left: auto !important;
  transform: rotate(180deg);
  bottom: 45px;
}
.feedback-name {
  color: var(--primary) !important;
  font-weight: 600 !important;
}
.side-audio p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: var(--secondry-font) !important;
}
.side-audio .audio-name .heading {
  font-size: 16px !important;
}
.side-audio .audio.green-audio-player {
  padding-block: 5px;
  margin-top: 15px;
}
.side-audio .audio-name img {
  border-radius: 10px !important;
}
.side-audio .audio-name .heading {
  font-size: 16px !important;
}
.audio-heading {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
}
.audi-para a {
  text-decoration: none;
  color: var(--primary);
}
.audi-para {
  font-size: 14px;
}
@media (max-width: 992px) {
  .custome-nav p {
    display: none;
  }
  /* .custome-nav li {
    margin-block: 15px;
  } */
  .custome-nav li a {
    padding: 0;
  }
  .custome-nav-bg {
    background: var(--primary);
  }
}
@media (max-width: 768px) {
  .custom-reverse{
    flex-direction: column-reverse;
  }
  .stack-social{
    justify-content: center;
  }
  .stack-social-2{
    justify-content: center;
  }
  .banner-heading {
    font-size: 35px;
    line-height: normal;
  }
  .banner-heading-2 {
    font-size: 30px;
    line-height: normal;
  }
  .heading {
    font-size: 22px;
  }
  .green-white {
    background: linear-gradient(180deg, var(--primary) 20%, var(--light) 20%);
  }
  .video {
    height: 250px;
  }
  .fb-gallery img {
    height: 175px;
  }
}
.find-blog {
  display: flex;
  align-items: center;
  border: 2px solid #39b94b;
  max-height: 50px;
}
.find-blog input,
.find-blog input:focus {
  border-radius: 0px;
  border: none;
  box-shadow: none;
}
.find-blog svg {
  margin-inline: 12px;
}

.contact-form {
  padding-top: 4rem !important;
  background-color: var(--primary);
  color: white;
}
.contact .miniheading {
  background-color: rgba(232, 232, 232, 0.1);
  border-left: 5px solid var(--yellow);
  color: white;
}
.contact .heading {
  color: white;
}

a {
  text-decoration: none;
}

.contact
  :is(
    input,
    input:focus,
    input:active,
    textarea,
    textarea:focus,
    textarea:active
  ) {
  border-radius: 0px !important;
  outline: none;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  box-shadow: none;
  font-weight: 300;
  padding: 12px 22px;
}
.contact input::placeholder {
  color: white;
}
.contact textarea::placeholder {
  color: white;
}
.yellow-btn {
  background: linear-gradient(45deg, var(--yellow), #ffd7a6);
  border: 0;
  border-radius: 0;
  color: black;
  font-weight: 500;
  padding: 15px 35px;
  font-size: 14px;
  position: relative;
}
.yellow-btn::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 100% 0 0 0;
  bottom: 0;
  right: 0;
}
button.primary-btn:hover {
  color: white;
}
.text-small {
  font-size: 12px;
}
.quoteTxt::before {
  content: "\“";
  position: absolute;
  color: var(--primary);
  font-size: 22em;
  z-index: -1;
  opacity: 0.4;
  left: -12%;
}
.areaBox {
  margin-block: 1rem;
  position: relative;
}
.areaBox::before {
  content: "";
  position: absolute;
  margin-block: 1rem;
  background-repeat: no-repeat;
  background-position: 34% 50%;
  background-image: var(--bg-image);
  height: 100%;
  width: 100%;

  z-index: -1;
  opacity: 0.15;
}
@media (max-width: 768px) {
  .areaBox::before {
    background-position: 50% 12%;
  }
}
.areaBox .item {
  padding: 12px;
  background-color: #d9d9d95f;
  margin-block: 10px;
  max-height: 100px;
  height: 100%;
}
.areaBox .head {
  background-color: var(--primary);
  color: white;
  padding-block: 12px;
  font-weight: bold;
  white-space: nowrap;
}
.areaBox img {
  width: 72px;
  height: 72px;
}
.colorPrimary {
  color: var(--primary);
}

.stachholder-card-2 img {
  height: 70px;
}
.stachholder-card-1 img {
  height: 70px;
}
@media (min-width: 768px) {
  .stachholder-card-2 {
    text-align: end;
  }
  .stachholder-card-1 {
    text-align: start;
  }
}